<style type="text/css">
  #contact a:link {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }

  #contact a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  #contact a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
  }

  #contact a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
</style>
<div id="contact">
  <a href="mailto:sqxjzh@163.com">投稿邮箱: sqxjzh@163.com</a>
</div>